<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cafe_coffee.css">
    <title>Document</title>
</head>

<body>
    <header class="header">
        <div class="backimage">
            <div class="logo">
                <h1>Cafe Coffee</h1>
            </div>
            <div class="menubar">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Our Coffee</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Pages</a></li>
                    <div class="search"><input type="text" placeholder="Search"></div>
                </ul>
            </div>
    </header>
    <section>
        <div class="content">
            <h1>Elite Cofee Brand</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, odit qui? Magni fuga soluta,
                dignissimos nostrum aliquid delectus, itaque fugiat reiciendis commodi placeat atque porro sunt
                reprehenderit. Tenetur, ullam architecto!</p>
        </div>
    </section>

</body>

</html>